name: Release
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v6
      - name: Setup Mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # ratchet:jdx/mise-action@v3
        with:
          cache: false
      - name: Install dependencies
        run: npm ci
      - name: Create Release Pull Request or Publish to GitHub
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # ratchet:changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release:publish
          title: "Release: New version"
          commit: "Release: New version"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
